#cart-container {
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cart-item {
    border-bottom: 1px solid gray;
    padding: 25px;
}

#cart-checkout {
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#checkout:hover {
    background-color: var(--secondary-color);
}

