
.footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1160px;
    box-sizing: border-box;
    font-style: italic;
}
