
.footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1rem 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
    }
}