
.product-card {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    flex: 300px; 
}

.product-card img {
    height: 200px;
    width: 200px;
    border-radius: 5px; 
}

.product-card h3 {
    margin: 10px;
}

.product-card p {
    color: var(--secondary-color);
    font-size: 0.9em;
    margin: 7px;
}

.product-card:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

#products-container, #product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

#price {
    color: steelblue;
    font-weight: bold;
}

.product-detail {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.product-detail .image-container {
    display: flex;
    justify-content: center;
}

#product-quantity {
    width: fit-content;
    background-color: whitesmoke;
}

.product-detail img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin: 5px;
}

#product-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
    background-color: var(--secondary-color);
}

#product-form input,
#product-form textarea,
#product-form select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#update-product, #post-product {
    margin-top: 25px;
}

#post-product-link {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}