
button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
}

#profile-container, #updateForm {
    padding: 15px;
    border-radius: 8px;
}

#updateForm {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

#updateForm input {
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#delete-account {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

#profile-info, #profile-info p {
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
}
