
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: steelblue;
    --secondary-color: lightgray;
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 70vh;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 10px;
}

button:hover {
    background-color: var(--secondary-color);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

#welcome, #search-bar { 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#search-bar input {
    background-color: var(--secondary-color);
}
